<a href="https://colab.research.google.com/github/unerret/myproject/blob/main/chioma.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
school =20
student =30
pineapple =20.5
chicken =30.5
whatisthat =True
sentence1 = "calabar is in NIGERIA"
Isthattheanswer =False
sentence2 = 'female wear skirts only'
follow2 ="""
         where are you going?
          I am going to LAGOS.
          """
print(whatisthat)
print(int(whatisthat))


#INTEGER
age = 25
year = 2024
count = 100
height_cm = 180
weight_kg = 75
population = 500000
score = 95
days_in_week = 7
hours_in_day = 24
number_of_items = 50
print(age)
print(height_cm)
print(float(weight_kg))
print(bool(score))

#FLOAT
temperature = 23.5
price = 199.99
height = 175.8
weight = 68.2
interest_rate = 3.75
distance = 482.6
speed = 88.4
volume = 50.3
time_taken = 9.87
pressure = 1013.25
print(int(speed))
print(volume)
print(str(price))
print(str(1013.25))

#BOOLEAN
is_student = True
is_logged_in = False
has_passed = True
is_sunny = False
is_admin = True
is_member = False
is_active = True
has_discount = False
is_complete = True
is_visible = False
print(int(is_student))
print(bool(has_passed))
print(is_sunny)
print(float(is_active))

#STRING
name = "chioma"
city = "Lagos"
country = "Nigeria"
email = "unerret2013@gmail.com"
phone_number = "+2348023199720"
occupation = "Fashion Designer"
brand_name = "Un Erret World"
colour = "Purple"
language = "English"
website = "www.unerretworld.com"


print(bool(email))
print(colour)
print(str(brand_name))

#arithmetric
a = 16
b = 5
print("Addition:",a+b)
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)

True
1

NameError: name 'INTEGER' is not defined

In [ ]:
#CODES TO STORE 10 VALUES OF LIST AND PERFORM ALL LIST EXTRACTION ON THEM  ASSIGNMENT 05/09/2024

jobs=["engineering","data_analyst","nurse","medical_doctor","lawyer","teacher","cleaner","gateman","hairstylist","fashion_designer"]
print(jobs)
print(jobs[5])
print(jobs[1:4])
print(jobs[-1])
print(jobs[-6:-1])
jobs.append("accountant")
print(jobs)
jobs.insert(3,"nanny")
print(jobs)
jobs[2:4]=["cater","security","decorator"]
print(jobs)
jobs[5]=["barman","printer","attendant","serviceman"]
print(jobs)
jobs.pop(5)
print(jobs)
jobs.remove("data_analyst")
print(jobs)
jobs[1]="data_analyst"
print(jobs)

['engineering', 'data_analyst', 'nurse', 'medical_doctor', 'lawyer', 'teacher', 'cleaner', 'gateman', 'hairstylist', 'fashion_designer']
teacher
['data_analyst', 'nurse', 'medical_doctor']
fashion_designer
['lawyer', 'teacher', 'cleaner', 'gateman', 'hairstylist']
['engineering', 'data_analyst', 'nurse', 'medical_doctor', 'lawyer', 'teacher', 'cleaner', 'gateman', 'hairstylist', 'fashion_designer', 'accountant']
['engineering', 'data_analyst', 'nurse', 'nanny', 'medical_doctor', 'lawyer', 'teacher', 'cleaner', 'gateman', 'hairstylist', 'fashion_designer', 'accountant']
['engineering', 'data_analyst', 'cater', 'security', 'decorator', 'medical_doctor', 'lawyer', 'teacher', 'cleaner', 'gateman', 'hairstylist', 'fashion_designer', 'accountant']
['engineering', 'data_analyst', 'cater', 'security', 'decorator', ['barman', 'printer', 'attendant', 'serviceman'], 'lawyer', 'teacher', 'cleaner', 'gateman', 'hairstylist', 'fashion_designer', 'accountant']
['engineering', 'data_analyst', 'cater', 'security', 'decorator', 'lawyer', 'teacher', 'cleaner', 'gateman', 'hairstylist', 'fashion_designer', 'accountant']
['engineering', 'cater', 'security', 'decorator', 'lawyer', 'teacher', 'cleaner', 'gateman', 'hairstylist', 'fashion_designer', 'accountant']
['engineering', 'data_analyst', 'security', 'decorator', 'lawyer', 'teacher', 'cleaner', 'gateman', 'hairstylist', 'fashion_designer', 'accountant']

In [ ]:
names=["amaka","chioma","vivan","lilan","kene","kenny"]
print(names[0:3])
print(names[2:7])
names.append("tolu")
print(names)
names.insert(2,"biola")
print(names)
names[1:3]=["bebe","cece"]
print(names)
names.pop(3)
names.remove("lilan")
print(names)
names[2]="kele"
print(names)

['amaka', 'chioma', 'vivan']
['vivan', 'lilan', 'kene', 'kenny']
['amaka', 'chioma', 'vivan', 'lilan', 'kene', 'kenny', 'tolu']
['amaka', 'chioma', 'biola', 'vivan', 'lilan', 'kene', 'kenny', 'tolu']
['amaka', 'bebe', 'cece', 'vivan', 'lilan', 'kene', 'kenny', 'tolu']
['amaka', 'bebe', 'cece', 'kene', 'kenny', 'tolu']