<a href="https://colab.research.google.com/github/unerret/myproject/blob/main/introduction_to_comparision_operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to comparision operators in python

In [ ]:
a= 20
b=30
# greater
print(a > b)

False

In [ ]:
print(a < b)

True

In [ ]:
print(a <= b)

True

In [ ]:
print( a >= b)

False

In [ ]:
print(a == b)

False

In [ ]:
# in opertor
food = ["rice","beans","plantain","amala"]

print("rice" in food)
print("eba" in food)

True
False

In [ ]:
# not in operator
food = ["rice","beans","plantain","amala"]
print("beans" not in food)
print("akara" not in food)

False
True

In [ ]:
# is operator
bb = 20
cc = 30
dd = 30
print(cc is dd)

True

In [ ]:
cc = "30"
dd = 30
print(cc is dd)

False

In [ ]:
# is not opertor
aa = 20
bb = "This is me"
print(aa is not bb)

True

# LOGICAL OPERATORS

In [ ]:
# and logical operator
p = 20 < 10
q = 30 > 15

print(p and q)

False

In [ ]:
pp = 20
qq = 30
print((pp > 10) and (qq == 30))

True

In [ ]:
# or statement
aa = 20 > 10
bb = 12 > 30
print(aa or bb)

True

In [ ]:
# not statement
aa = 20 > 10
print( not aa)

False

# WORKING WITH INPUT IN PYTHON

In [ ]:
input("What is your name? ")

What is your name? John

'John'

In [ ]:
pp = input("What is bmi status?")
print(pp)

What is bmi status?healthy
healthy

In [ ]:
first = float(input("Enter your first number"))
second = float(input("Enter your second number"))

print(first+second)

Enter your first number30
Enter your second number40
70.0

In [ ]:
first = float(input("Enter your first number"))
second = float(input("Enter your second number"))
sum = first+second
print(sum)

Enter your first number50
Enter your second number90
140.0

# ASSIGNMENT



*   CREATE A BMI CALCULATOR
*   CREATE A SIMPLE ARITHMETIC CALCULATOR


*   PICK ANY 10 MATHEMATICS FORMULARS FOR CODE WRITEUP
*   PERFORM ANY OPERATIONS USING INPUT